@using TeachToEach.Domain.Response;
@using TeachToEach.Domain.ViewModels.User
@using TeachToEach.Domain.Entity
@model BaseResponse<IEnumerable<UserViewModel>>
@{
    ViewData["Title"] = "GetUsers";
}

<h1>GetUsers</h1>
<p>Status Code: @Model.StatusCode </p>
<p>Description: @Model.Description </p>
@if (Model.Data != null)
{
    @foreach (UserViewModel u in Model.Data)
    {
        <p>@u.first_name @u.last_name, @u.age лет, email: @u.email </p>
    }
}

