@using TeachToEach.Domain.ViewModels.Teacher
@model IEnumerable<TeacherHomeworkViewModel>

@{
    ViewData["Title"] = "GetHWtoTeacher";
}

<body>
    <section id="logo-title">
        <div class="content">
            <div class="row">
                <div class="col-2" id="logo">
                    <img id="logotip" src="~/images/main-logo.png" alt="Main logo">
                </div>
                <div class="col-10">
                    <h1 class="text-centre">Teach-to-each</h1>
                </div>
            </div>
        </div>
    </section>

    <h2 id="lk-s">Личный кабинет преподавателя</h2>

    <div id="lk-body" class="container-fluid">
        <div class="row">
            <div id="side-nav-stud" class="col-2">

                <div class="sidenav">
                    <a asp-controller="Teacher" asp-action="Teacher">Моя страница</a>
                    <a asp-controller="Teacher" asp-action="GetStudents">Ученики</a>
                    <a asp-controller="Teacher" asp-action="GetHWtoTeacher">Домашние задания</a>
                </div>

            </div>

            <div id="personal-data-stud" class="col-10">
                <h2 id="lk-s">Домашние задания</h2>
                <p>Здесь выводится список дз из БД</p>
                @if(Model != null)
                {

                    <div class="card col-md-12">
                        <table class="table table-striped">
                            <thead class="table-light">
                                <tr>
                                    <th scope="col">Ученик </th>
                                    <th scope="col">Предмет</th>
                                    <th scope="col">Срок сдачи</th>
                                    <th scope="col">Описание</th>
                                    <th scope="col">Решение</th>
                                    <th scope="col">Время изменения</th>
                                    <th scope="col">Комментарий </th>
                                    <th scope="col">Сдача</th>
                                    <th scope="col">Редактировать</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.Student.last_name</td>
                                        <td>@item.Subject.SubjectName</td>
                                        <td>@item.Deadline</td>
                                        <td>@item.Description</td>
                                        <td>@item.Solution</td>
                                        <td>@item.SolutionTime</td>
                                        <td>@item.TeacherComment</td>
                                        <td>@item.IsCompleted</td>
                                        
                                        <td>
                                            <form method="post" asp-controller="Teacher" asp-action="UpdateHomeworkFirstStep"
                                          asp-route-id="@item.homework_id"
                                          asp-route-description="@item.Description"
                                          asp-route-deadline="@item.Deadline"
                                          asp-route-teacherComment="@item.TeacherComment"
                                          asp-route-isCompleted="@item.IsCompleted"
                                          asp-route-solution="@item.Solution">
                                                <input class="btn btn-primary" type="submit" value="Редактировать" />
                                            </form>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
            </div>
        </div>
    </div>




    <main>
        <aside>
            <h2>Связанные темы</h2>

            <ul>
                <li><a href="#">Как найти хорошего репетитора?</a></li>
                <li><a href="#">Как стать самостоятельным?</a></li>
            </ul>
        </aside>
    </main>

</body>
