@using TeachToEach.Domain.ViewModels.Teacher
@model IEnumerable<TeachToEach.Domain.ViewModels.Teacher.TeacherStudentsInfoViewModel>
@{
    ViewData["Title"] = "GetStudents";
}

<body>
    <section id="logo-title">
        <div class="content">
            <div class="row">
                <div class="col-2" id="logo">
                    <img id="logotip" src="~/images/main-logo.png" alt="Main logo">
                </div>
                <div class="col-10">
                    <h1 class="text-centre">Teach-to-each</h1>
                </div>
            </div>
        </div>
    </section>

    <h2 id="lk-s">Личный кабинет преподавателя</h2>

    <div id="lk-body" class="container-fluid">
        <div class="row">
            <div id="side-nav-stud" class="col-2">

                <div class="sidenav">
                    <a asp-controller="Teacher" asp-action="Teacher">Моя страница</a>
                    <a asp-controller="Teacher" asp-action="GetStudents">Ученики</a>
                    <a asp-controller="Teacher" asp-action="GetHWtoTeacher">Домашние задания</a>
                    <a asp-controller="Teacher" asp-action="GetRatings">Посмотреть отзывы</a>
                </div>

            </div>

            <div id="personal-data-stud" class="col-10">
                <h2 id="lk-s">Ученики</h2>
                <div class="tab">
                    <input checked type="radio" name="btntoteach" id="bt-my-teach" value="">
                    <label class="btn btn-outline-primary" for="bt-my-teach">Мои ученики</label>

                    <input type="radio" name="btntoteach" id="bt-my-request" value="">
                    <label class="btn btn-outline-primary" for="bt-my-request">Мои запросы</label>

                    <div class="tab-content" id="content-1">
                        @if(Model != null)
                        {

                            <div class="card col-md-12">
                                <table class="table table-striped">
                                    <thead class="table-light">
                                        <tr>
                                            <th scope="col">Фамилия</th>
                                            <th scope="col">Имя</th>
                                            <th scope="col">Предмет</th>
                                            <th scope="col"> </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in @Model)
                                        {
                                            @if(item.status_id == item.aprove_id)
                                            {
                                                <tr>
                                                    <td>@item.Student.last_name</td>
                                                    <td>@item.Student.first_name</td>
                                                    <td>@item.Subject.SubjectName</td>
                                                    <td>
                                                        <form method="post" asp-controller="Teacher" asp-action="CreateHomeworkFirstStep"
                                                      asp-route-relation_id="@item.relation_id">
                                                            <input class="btn btn-success" type="submit" value="Задать д/з" />
                                                        </form>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div> 
                        }
                    </div>
                    <div class="tab-content" id="content-2">
                    @if (Model != null)
                    {

                        <div class="card col-md-12">
                            <table class="table table-striped">
                                <thead class="table-light">
                                    <tr>
                                        <th scope="col">Фамилия</th>
                                        <th scope="col">Имя</th>
                                        <th scope="col">Предмет</th>
                                        <th scope="col">Статус</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in @Model)
                                    {
                                        @if (item.status_id != item.aprove_id)
                                        {
                                              <tr>
                                                  <td>@item.Student.last_name</td>
                                                  <td>@item.Student.first_name</td>
                                                  <td>@item.Subject.SubjectName</td>
                                                  <td>
                                                          @if (item.status_id == item.request_id)
                                                          {
                                                              <form method="post" asp-controller="Teacher" asp-action="ResponseRequest"
                                                        asp-route-relation_id="@item.relation_id" asp-route-status_id="@item.aprove_id">
                                                                  <input class="btn btn-success" type="submit" value="Принять" />
                                                              </form>
                                                              <form method="post" asp-controller="Teacher" asp-action="ResponseRequest"
                                                        asp-route-relation_id="@item.relation_id" asp-route-status_id="@item.reject_id">
                                                                  <input class="btn btn-danger" type="submit" value="Отказать" />
                                                              </form>
                                                          }
                                                          else
                                                          {
                                                              <p>Отказано</p>
                                                          }                                                           
                                                  </td>
                                              </tr>           
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>

                            
                    }
                    </div>
                    
                </div>
            </div>

        </div>

    </div>




    <main>
        <aside>
            <h2>Связанные темы</h2>

            <ul>
                <li><a href="#">Как найти хорошего репетитора?</a></li>
                <li><a href="#">Как стать самостоятельным?</a></li>
            </ul>
        </aside>
    </main>

</body>

<script src="~/js/site.js" asp-append-version="true"></script>


