@using TeachToEach.Domain.ViewModels.Teacher
@model TeacherProfileViewModel
@{
    ViewData["Title"] = "Teacher";
}

<body>
    <section id="logo-title">
        <div class="content">
            <div class="row">
                <div class="col-2" id="logo">
                    <img id="logotip" src="~/images/main-logo.png" alt="Main logo">
                </div>
                <div class="col-10">
                    <h1 class="text-centre">Teach-to-each</h1>
                </div>
            </div>
        </div>
    </section>

    <h2 id ="lk-t">Личный кабинет преподавателя</h2>

            <div id="lk-body" class="container-fluid">
                <div class="row">
                    <div id="side-nav-teach" class="col-2">

                        <div class="sidenav">
                            <a asp-controller="Teacher" asp-action="Teacher">Моя страница</a>
                            <a asp-controller="Teacher" asp-action="GetStudents">Ученики</a>
                            <a asp-controller="Teacher" asp-action="GetHWtoTeacher">Домашние задания</a>
                            <a asp-controller="Teacher" asp-action="GetRatings">Посмотреть отзывы</a>
                        </div>

                    </div>

                    <div id="personal-data-teach" class="col-7">
                        <h4> Имя: @Model.FirstName </h4>
                        <h4> Фамилия: @Model.LastName </h4>
                        <h4> Возраст: @Model.Age </h4>
                        <h4> Логин: @Model.Login </h4>
                        <h4> Мои предметы: </h4>
                        @if(Model != null)
                        {
                            <div class="container">
                                <div class="row">
                            @foreach (var item in Model.Subjects)
                            {
                                    <div class="col-md-4 col-sm-12" >
                                            <h4 id="teachers-subjects">@item.SubjectName</h4>
                                    </div>
                            }
                                </div>
                            </div>
                        }
                        
                    </div>

                    <div id="lk-photo-teach" class="col-3">
                <img id="logotip" src="~/images/defolt-avatar.png" alt="Avatar">
                        <p id="personal-photo-teach">Ваше фото</p>
                    </div>
            @if (!Model.Subjects.Select(s => s.SubjectName).Contains("Математика"))
            {
                <p>Математика</p>
                <form method="post" asp-controller="Teacher" asp-action="AddSubject"
                      asp-route-subject_name="Математика">
                    <input class="btn btn-primary" type="submit" value="Добавить" />
                </form>
            }
            @if (!Model.Subjects.Select(s => s.SubjectName).Contains("Информатика"))
            {
                <p>Информатика</p>
                <form method="post" asp-controller="Teacher" asp-action="AddSubject"
                      asp-route-subject_name="Информатика">
                    <input class="btn btn-primary" type="submit" value="Добавить" />
                </form>
            }
            @if (!Model.Subjects.Select(s => s.SubjectName).Contains("Литература"))
            {
                <p>Литература</p>
                <form method="post" asp-controller="Teacher" asp-action="AddSubject"
                      asp-route-subject_name="Литература">
                    <input class="btn btn-primary" type="submit" value="Добавить" />
                </form>
            }
            @if (!Model.Subjects.Select(s => s.SubjectName).Contains("Обществознание"))
            {
                <p>Обществознание</p>
                <form method="post" asp-controller="Teacher" asp-action="AddSubject"
                      asp-route-subject_name="Обществознание">
                    <input class="btn btn-primary" type="submit" value="Добавить" />
                </form>
            }
            @if (!Model.Subjects.Select(s => s.SubjectName).Contains("Рисование"))
            {
                <p>Рисование</p>
                <form method="post" asp-controller="Teacher" asp-action="AddSubject"
                      asp-route-subject_name="Рисование">
                    <input class="btn btn-primary" type="submit" value="Добавить" />
                </form>
            }
            @if (!Model.Subjects.Select(s => s.SubjectName).Contains("Музыка"))
            {
                <p>Музыка</p>
                <form method="post" asp-controller="Teacher" asp-action="AddSubject"
                      asp-route-subject_name="Музыка">
                    <input class="btn btn-primary" type="submit" value="Добавить" />
                </form>
            }
            @if (!Model.Subjects.Select(s => s.SubjectName).Contains("Физика"))
            {
                <p>Физика</p>
                <form method="post" asp-controller="Teacher" asp-action="AddSubject"
                      asp-route-subject_name="Физика">
                    <input class="btn btn-primary" type="submit" value="Добавить" />
                </form>
            }
            @if (!Model.Subjects.Select(s => s.SubjectName).Contains("Биология"))
            {
                <p>Биология</p>
                <form method="post" asp-controller="Teacher" asp-action="AddSubject"
                      asp-route-subject_name="Биология">
                    <input class="btn btn-primary" type="submit" value="Добавить" />
                </form>
            }
            @if (!Model.Subjects.Select(s => s.SubjectName).Contains("История"))
            {
                <p>История</p>
                <form method="post" asp-controller="Teacher" asp-action="AddSubject"
                      asp-route-subject_name="История">
                    <input class="btn btn-primary" type="submit" value="Добавить" />
                </form>
            }
            @if (!Model.Subjects.Select(s => s.SubjectName).Contains("Английский язык"))
            {
                <p>Английский язык</p>
                <form method="post" asp-controller="Teacher" asp-action="AddSubject"
                      asp-route-subject_name="Английский язык">
                    <input class="btn btn-primary" type="submit" value="Добавить" />
                </form>
            }
                </div>

                
            </div>




    <main>
        <aside>
            <h2>Связанные темы</h2>

            <ul>
                <li><a href="#">Как найти хорошего репетитора?</a></li>
                <li><a href="#">Как стать самостоятельным?</a></li>
            </ul>
        </aside>
    </main>

</body>
