@using TeachToEach.Domain.ViewModels.Teacher
@model TeacherProfileViewModel
@{
    ViewData["Title"] = "Teacher";
}

<body>
    <section id="logo-title">
        <div class="content">
            <div class="row">
                <div class="col-2" id="logo">
                    <img id="logotip" src="~/images/main-logo.png" alt="Main logo">
                </div>
                <div class="col-10">
                    <h1 class="text-centre">Teach-to-each</h1>
                </div>
            </div>
        </div>
    </section>

    <h2 id ="lk-t">Личный кабинет преподавателя</h2>

            <div id="lk-body" class="container-fluid">
                <div class="row">
                    <div id="side-nav-teach" class="col-2">

                        <div class="sidenav">
                            <a asp-controller="Teacher" asp-action="Teacher">Моя страница</a>
                            <a asp-controller="Teacher" asp-action="GetStudents">Ученики</a>
                            <a asp-controller="Teacher" asp-action="GetHWtoTeacher">Домашние задания</a>
                        </div>

                    </div>

                    <div id="personal-data-teach" class="col-7">
                        <p>
                            Здесь лежат различные данные о преподавателе.
                        </p>
                        <p> Имя: @Model.FirstName </p>
                        <p> Фамилия: @Model.LastName </p>
                        <p> Возраст: @Model.Age </p>
                        <p> Логин: @Model.Login </p>
                        <p> Мои предметы: </p>
                        @if(Model != null)
                        {
                            @foreach (var item in Model.Subjects)
                            {
                                <p>@item.SubjectName</p>
                            }
                        }
                        
                    </div>

                    <div id="lk-photo-teach" class="col-3">
                <img id="logotip" src="~/images/defolt-avatar.png" alt="Avatar">
                        <p id="personal-photo-teach">Ваше фото</p>
                    </div>

                </div>

            </div>




    <main>
        <aside>
            <h2>Связанные темы</h2>

            <ul>
                <li><a href="#">Как найти хорошего репетитора?</a></li>
                <li><a href="#">Как стать самостоятельным?</a></li>
            </ul>
        </aside>
    </main>

</body>
