@using TeachToEach.Domain.ViewModels.Teacher
@model IEnumerable<TeacherProfileViewModel>
@{
    ViewData["Title"] = "ShowFoundTeachers";
}

<body>
    <section id="logo-title">
        <div class="content">
            <div class="row">
                <div class="col-2" id="logo">
                    <img id="logotip" src="~/images/main-logo.png" alt="Main logo">
                </div>
                <div class="col-10">
                    <h1 class="text-centre">Teach-to-each</h1>
                </div>
            </div>
        </div>
    </section>

    <h2 id="lk-s">Личный кабинет ученика</h2>

    <div id="lk-body" class="container-fluid">
        <div class="row">
            <div id="side-nav-stud" class="col-2">

                <div class="sidenav">
                    <a asp-controller="Student" asp-action="Student">Моя страница</a>
                    <a asp-controller="Student" asp-action="GetTeachers">Мои занятия</a>
                    <a asp-controller="Student" asp-action="GetHWtoStudent">Домашние задания</a>
                    <a asp-controller="Student" asp-action="FindTeacher">Найти преподавателя</a>
                </div>

            </div>

            <div id="personal-data-stud" class="col-10">
                <h2 id="lk-s">Найденные преподаватели</h2>
                <div>
                    <p>Здесь выводится список из БД</p>
                    @if (Model != null)
                    {
                        @foreach (var item in Model)
                        {
                            <p>@item.FirstName  @item.LastName  @item.Age лет</p>
                            <form method="post" asp-controller="Student" asp-action="CreaetRequest"
                                  asp-route-teacher_login="@item.Login" asp-route-subject="@item.Subjects.FirstOrDefault().SubjectName">
                                <input class="btn btn-primary" type="submit" value="Отправить запрос" />
                            </form>
                        }
                    }
                </div>
            </div>

        </div>

    </div>
    <main>
        <aside>
            <h2>Связанные темы</h2>

            <ul>
                <li><a href="#">Как найти хорошего репетитора?</a></li>
                <li><a href="#">Как стать самостоятельным?</a></li>
            </ul>
        </aside>
    </main>

</body>

<script src="~/js/site.js" asp-append-version="true"></script>

